<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sam.hex"
    android:versionCode="14"
    android:versionName="2.3"
    android:installLocation="auto" >

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    

    <application android:icon="@drawable/icon" android:allowBackup="true" android:theme="@style/LightTheme" >
        <activity android:label="@string/app_name" android:name="com.sam.hex.MainActivity" android:screenOrientation="landscape" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".GameActivity" android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.rhex" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.rhex" />
            </intent-filter>
        </activity>
        <activity android:label="@string/preferences" android:name=".PreferencesActivity" android:screenOrientation="landscape" />
        <activity android:label="@string/activity_title_instructions" android:name="com.sam.hex.InstructionsActivity" android:screenOrientation="landscape" />
        <activity android:label="@string/app_name" android:name=".playgames.LoginActivity" android:screenOrientation="landscape" />
        <activity android:label="@string/app_name" android:name=".playgames.NetGameActivity" android:screenOrientation="landscape" />
        <activity android:label="@string/app_name" android:name=".HistoryActivity" android:screenOrientation="landscape" />
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
    </application>

</manifest>