<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlythe.hex"
    android:installLocation="auto" >

    <!-- For net play -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- For donations -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/LightTheme"
        android:name="androidx.multidex.MultiDexApplication">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3823455623760591~7411212864"/>
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.appstate.APP_ID" android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity
            android:name="com.xlythe.hex.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:exported="true">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.rhex" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.rhex" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xlythe.hex.PreferencesActivity"
            android:label="@string/activity_title_preferences"
            android:screenOrientation="sensorLandscape"
            android:exported="false" />
        <activity
            android:name="com.xlythe.hex.view.DonateDialog"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:finishOnTaskLaunch="true"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:relinquishTaskIdentity="true"
            android:documentLaunchMode="never"
            android:finishOnCloseSystemDialogs="true"
            android:theme="@style/HexDialog"
            android:exported="false" />
        <activity
            android:name="com.xlythe.hex.view.GameOverDialog"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:finishOnTaskLaunch="true"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:relinquishTaskIdentity="true"
            android:documentLaunchMode="never"
            android:finishOnCloseSystemDialogs="true"
            android:theme="@style/HexDialog"
            android:exported="false" />
    </application>

</manifest>
